.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/midastouchmedia.gif');
  background-size: auto;
}

.App h1 {
  color: var(--text);
  border: 3px solid var(--color2);
  padding: 24px 18px;
}
