.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.App a {
  color: var(--text);
  padding: 5vh 10vw;
  border: 1px solid var(--text);
  background-color: transparent;
  font-weight: 100;
  font-size: 6vw;
  transition: 0.2s ease-in-out;
}

.App a:hover {
  background-color: var(--color2);
  transition: 0.2s ease-in-out;
}
